* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 90%;
  margin: auto;
  padding: 1rem;
  line-height: 1.5;

}

.container p {
  text-align: left;
  line-height: 2;
}

.sub-heading {
  color:#8a0202;
  margin: 1rem 0;
  text-align: left;
}

.container ul {
  margin-left: 1rem;
}

.container ul li {
  margin: 1.5rem 0;
  text-align: left;
}

.footnote {
  list-style: none;
  margin: .5rem 0;
  border-bottom: 1px dotted #000;
  text-align: center;
}

