.home {
  height: 89vh;
  background-image: url('../../../uploads/IMAGES/2.jpg');
  background-size: cover;
  text-align: center;
  position: relative;
  color: #fff;

}

.home::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .850);
  position: absolute;
  top: 0;
  left: 0;

}

.home > * {
  z-index: 10;
  position: relative;
}


.home .container {
  max-width: 80%;
  min-height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2rem;
}

.details-name {
  font-size: 2rem;
  font-weight: 900;
}

.img-div {
  max-width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  flex: 2.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-div .home-image {
  display: block;
  margin: auto;
  width: 90%;
  transform: translateX(-15%);
  opacity: .9;

}

.caption {
  flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.img-div .details {
  color: rgb(241, 98, 98);
  text-align: center;
}

.small {
  font-size: 1rem;
}
.caption-text {
  font-size: 2rem;
}

.caption .more-button {
  display: block;
  padding: .5rem;
  color: #fff;
  border: 1px solid#8a0202;
  transition: opacity 1s ease;
  width: 150px;
  margin: 2rem auto;
  border-radius: 5px;
}


.caption .more-button:hover {
  opacity: .5;
}


@media screen and (max-width: 768px) {
  .home {
    height: 120vh;
  }
  .home .container {
    flex-direction: column;
  }
  .img-div {
    flex: 1.5;
    margin: auto;
   
  }

  .caption {
    flex: 4;

  }

  .details {
    line-height: 2;
    color: #fff;
    /* font-family: cursive; */
  }

  


}