.footer {
  max-width: 100%;
  text-align: center;
    background: #8a0202;
    color: #fff;
}

.footer .contaier {
  padding: 2rem;
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none; 
  color: inherit;
}


.tel, .contact {
  display: grid;
  grid-template-columns: 1fr;
}

.contact {
  text-align: left;
  /* grid-gap: .5rem; */
}

.footer .heading {
  font-size: 2rem;
  color: rgb(241, 98, 98);
}

.footer .sub-heading {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-size: 2rem;
  color: rgb(241, 98, 98);
}

@media screen and (max-width: 768px) {
  .footer {
    text-align: left;
  }

  .footer .tel, .footer .contact, .useful-links {
    text-align: left;
    min-width: 100%;
    border-bottom: 2px dotted #ccc;
  }
}

